<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
          
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Add Course</p>
            </div>
  
            <!-- Email input -->
            <div class="form-group">  
            <div class="form-outline mb-4">
              <input type="text" id="course" class="form-control"  required formControlName="name"
                placeholder="Enter a valid Course Name" />
              <label class="form-label" for="form3Example3">Course Name</label>
            </div></div>
  
            <!-- Password input -->
            <div class="form-group">  
            <div class="form-outline mb-3">
              <input type="textarea" id="desc" class="form-control" required formControlName="desc"
                placeholder="Course Description" />
              <label class="form-label" for="form3Example4">Description</label>
            </div></div>
  
            
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" 
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Add</button>
              
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
  </section>